@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/media";
@import "src/styles/common";

$namespace: "homepage";

.#{$namespace} {
	width: 100%;
	height: 100%;
	@include flexContainer(column);

	.head {
		width: 100%;
	}

	.body {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
